<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataBase.Properties.Settings>
            <setting name="DataBase_MonitorService_MonitorService" serializeAs="String">
                <value>http://localhost:3190/MonitorService/MonitorService.asmx</value>
            </setting>
            <setting name="DataBase_MonitorService_NoLocal_MonitorService_NoLocal" serializeAs="String">
                <value>http://localhost:3190/MonitorService/MonitorService_NoLocal.asmx</value>
            </setting>
        </DataBase.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
